<div align="center">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.png)](https://colab.research.google.com/github/wisaaco/AA_DistributedSystems_Lab/blob/main/U9-Spark/SparkExamples.ipynb)

Si no funciona el botó podeu copiar el següent [enllaç](https://colab.research.google.com/github/wisaaco/AA_DistributedSystems_Lab/blob/main/U9-Spark/SparkExamples.ipynb)

</div>

References:
- https://spark.apache.org/docs/latest/api/python/reference/index.html

In [1]:
!apt-get install openjdk-17-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.7/spark-3.5.7-bin-hadoop3.tgz
!tar xf spark-3.5.7-bin-hadoop3.tgz

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.7-bin-hadoop3"
os.environ["PATH"] += os.pathsep + os.path.join(os.environ["SPARK_HOME"], "bin")

In [20]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Complex CSV to Dataframe") \
    .master("local[*]").getOrCreate()

In [14]:
print("Using Apache Spark v{}".format(spark.version))

Using Apache Spark v3.5.7

In [15]:
# CSV
file_path  = "books.csv"
df = spark.read.format("csv") \
        .option("header", "true") \
        .option("multiline", True) \
        .option("sep", ";") \
        .option("quote", "*") \
        .option("dateFormat", "MM/dd/yyyy") \
        .option("inferSchema", True) \
        .load(file_path)

In [16]:
df.show(7, 70)

+---+--------+----------------------------------------------------------------------+-----------+----------------------+
| id|authorId|                                                                 title|releaseDate|                  link|
+---+--------+----------------------------------------------------------------------+-----------+----------------------+
|  1|       1|      Fantastic Beasts and Where to Find Them: The Original Screenplay| 2016-11-18|http://amzn.to/2kup94P|
|  2|       1|Harry Potter and the Sorcerer's Stone: The Illustrated Edition (Har...| 2015-10-06|http://amzn.to/2l2lSwP|
|  3|       1|         The Tales of Beedle the Bard, Standard Edition (Harry Potter)| 2008-12-04|http://amzn.to/2kYezqr|
|  4|       1|Harry Potter and the Chamber of Secrets: The Illustrated Edition (H...| 2016-10-04|http://amzn.to/2kYhL5n|
|  5|       2|Informix 12.10 on Mac 10.12 with a dash of Java 8: The Tale of the ...| 2017-04-23|http://amzn.to/2i3mthT|
|  6|       2|Development Tools in 2006: any Room for a 4GL-style Language? \nAn ...| 2016-12-28|http://amzn.to/2vBxOe1|
|  7|       3|                                        Adventures of Huckleberry Finn| 1994-05-26|http://amzn.to/2wOeOav|
+---+--------+----------------------------------------------------------------------+-----------+----------------------+
only showing top 7 rows

In [17]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- authorId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- releaseDate: date (nullable = true)
 |-- link: string (nullable = true)

In [21]:
## JSON
file_path = "countrytravelinfo.json"
df = spark.read.format("json") \
        .option("multiline", True) \
        .load(file_path)

# Shows at most 3 rows from the dataframe
df.show(3)
df.printSchema()

+-----------------------+-----------------------+--------------------+--------------------+--------+--------------------+------------------------------------+--------------------+---+--------------------------+---------------------+
|destination_description|entry_exit_requirements|    geopoliticalarea|              health|iso_code|    last_update_date|local_laws_and_special_circumstances| safety_and_security|tag|travel_embassyAndConsulate|travel_transportation|
+-----------------------+-----------------------+--------------------+--------------------+--------+--------------------+------------------------------------+--------------------+---+--------------------------+---------------------+
|   <p>The three isla...|   <p>All U.S. citiz...|Bonaire, Sint Eus...|<p>Medical care o...|        |Last Updated: Sep...|                <p>&nbsp;</p><p><...|<p>There are no k...| A1|          <div class="c...| <p><b>Road Condit...|
|   <p>French Guiana ...|   <p>Visit the&nbsp...|       French Guiana|<p>Medical care w...|      GF|Last Updated: Oct...|                <p><b>Criminal Pe...|<p>French Guiana ...| A2|          <div class="c...| <p><b>Road Condit...|
|   <p>See the Depart...|   <p><b>Passports a...|       St Barthelemy|<p><b>We do not p...|      BL|Last Updated: Jun...|                <p><b>Criminal Pe...|<p><b>Crime</b>: ...| A3|          <div class="c...| <p><b>Road Condit...|
+-----------------------+-----------------------+--------------------+--------------------+--------+--------------------+------------------------------------+--------------------+---+--------------------------+---------------------+
only showing top 3 rows

root
 |-- destination_description: string (nullable = true)
 |-- entry_exit_requirements: string (nullable = true)
 |-- geopoliticalarea: string (nullable = true)
 |-- health: string (nullable = true)
 |-- iso_code: string (nullable = true)
 |-- last_update_date: string (nullable = true)
 |-- local_laws_and_special_circumstances: string (nullable = true)
 |-- safety_and_security: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- travel_embassyAndConsulate: string (nullable = true)
 |-- travel_transportation: string (nullable = true)

In [26]:
## TXT

file_path = "romeo-juliet-pg1777.txt"

df = spark.read.format("text") \
        .load(file_path)

# Shows at most 10 rows from the dataframe
df.show(10)
df.printSchema()

+--------------------+
|               value|
+--------------------+
|                    |
|This Etext file i...|
|cooperation with ...|
|Future and Shakes...|
|Etexts that are N...|
|                    |
|*This Etext has c...|
|                    |
|<<THIS ELECTRONIC...|
|SHAKESPEARE IS CO...|
+--------------------+
only showing top 10 rows

root
 |-- value: string (nullable = true)

In [27]:
file_path = "alltypes_plain.parquet"
df = spark.read.format("parquet").load(file_path)


df.show(10)
df.printSchema()

+---+--------+-----------+------------+-------+----------+---------+----------+--------------------+----------+-------------------+
| id|bool_col|tinyint_col|smallint_col|int_col|bigint_col|float_col|double_col|     date_string_col|string_col|      timestamp_col|
+---+--------+-----------+------------+-------+----------+---------+----------+--------------------+----------+-------------------+
|  4|    true|          0|           0|      0|         0|      0.0|       0.0|[30 33 2F 30 31 2...|      [30]|2009-03-01 00:00:00|
|  5|   false|          1|           1|      1|        10|      1.1|      10.1|[30 33 2F 30 31 2...|      [31]|2009-03-01 00:01:00|
|  6|    true|          0|           0|      0|         0|      0.0|       0.0|[30 34 2F 30 31 2...|      [30]|2009-04-01 00:00:00|
|  7|   false|          1|           1|      1|        10|      1.1|      10.1|[30 34 2F 30 31 2...|      [31]|2009-04-01 00:01:00|
|  2|    true|          0|           0|      0|         0|      0.0|       0.0|[30 32 2F 30 31 2...|      [30]|2009-02-01 00:00:00|
|  3|   false|          1|           1|      1|        10|      1.1|      10.1|[30 32 2F 30 31 2...|      [31]|2009-02-01 00:01:00|
|  0|    true|          0|           0|      0|         0|      0.0|       0.0|[30 31 2F 30 31 2...|      [30]|2009-01-01 00:00:00|
|  1|   false|          1|           1|      1|        10|      1.1|      10.1|[30 31 2F 30 31 2...|      [31]|2009-01-01 00:01:00|
+---+--------+-----------+------------+-------+----------+---------+----------+--------------------+----------+-------------------+

root
 |-- id: integer (nullable = true)
 |-- bool_col: boolean (nullable = true)
 |-- tinyint_col: integer (nullable = true)
 |-- smallint_col: integer (nullable = true)
 |-- int_col: integer (nullable = true)
 |-- bigint_col: long (nullable = true)
 |-- float_col: float (nullable = true)
 |-- double_col: double (nullable = true)
 |-- date_string_col: binary (nullable = true)
 |-- string_col: binary (nullable = true)
 |-- timestamp_col: timestamp (nullable = true)

In [ ]:
## RB !!
user = "root"
password = "root"
use_ssl="false"
mysql_url = "jdbc:mysql://localhost:3306/sakila"
dbtable = "actor"
database="sakila"

df = spark.read.format("jdbc") \
        .options(url=mysql_url,
                 database=database,
                 dbtable=dbtable,
                 user=user,
                 password=password) \
        .load()

In [18]:
spark.stop()